ABOUTICON BITMAP "img\\Logo D2Bridge 96x96.bmp"
JpgImage_2 RCDATA "img\\Logo D2Bridge 96x96.jpg"
Icon_1 ICON "img\\Logo-D2Bridge-24x24.ico"
SPLASHICON ICON "img\\Logo-D2Bridge-48x48.ico"
D2BRIDGEICON ICON "img\\Logo-D2Bridge-96x96.ico"
WIZARDFORM ICON "img\\Logo-D2Bridge-Form.ico"
INHERITEDFORM ICON "img\\Logo-Inherited-Form.ico"
DATAMODULE ICON "img\\DataModule.ico"
D2BRIDGEPROJECT ICON "img\\D2Bridge_Project.ico"
D2BRIDGECODE ICON "img\\D2Bridge-Code.ico"
D2BRIDGECRUD ICON "img\\Wizard_CRUD.ico"
RESTAPI ICON "img\\API.ico"
